{% extends 'base.html' %}
{% load static %}
{% block index_gives %} <li><a href="{% url "add_donation"%}" class="btn btn--without-border">Przekaż dary</a></li> {% endblock %}
{% block profile %}
 <header>
  <div class="slogan--item" style="margin-right: auto; margin-left: auto;">
        <div id="profile" style="margin-top: 70px">
            <h1>Dane mojego konta</h1>
            <form class="form--contact">
             <div class="profile" style="text-align: center;  margin: 1px auto 70px auto;">
                {% for u in active_user %}
                    <ul style="list-style-type: none;">
                        <li> <input type="text" name="name" value="{{ u.first_name }}"/>Imię:</li>
                        <li> <input type="text" name="surname" value="{{ u.last_name }}"/>Nazwisko:</li>
                        <li> <input type="text" name="email" value="{{ u.email }}"/>Email:</li>
                    </ul>
                {% endfor %}
             </div>
            </form>
        </div>
  </div>
 </header>
{% endblock %}